<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Basic-Layout</title>
</head>

<body>
    <div class="nav">
        <div class="text">

            <li>
                <ul><a href="#">HOME</a></ul>
                <ul><a href="#">ABOUT</a></ul>
                <ul><a href="#">CONTACT US</a></ul>
                <ul><a href="#">MORE</a></ul>
            </li>
            </div>
        </div>
            <div class="boxes">
                <div class="box1">
                    <p>box-1</p>
                </div>
                <div class="box2">
                    <p>box-2</p>
                </div>
            </div>
            <div class="logo"></div>




            <div class="footer"><input type="text" placeholder="Feel free to ask anything..."></div>
</body>

</html>